
body {
	background: black;
}

/* No gaps in between text and photos */
body, html {
	height: 100%;
	margin: 0;
}

img {

	/* centers images */
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	border-radius: 0%; 
	
} 

.background {
	position: relative;
	text-align: center;
	color: white;
}

/* Wilson's Profile Picture Class */
.profilepic {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}

/* Wilson's Profile Picture Circle Border */
.profilepic img {

	border-radius: 50%;
}

/* Wilson Chung Name Header Class */
.name {
	position: absolute;
	/*top: 55%;*/
	top: 8%;
	left: 15%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

/* Wilson Chung Name Header Custom Font */
h1 {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: normal;
}

/* Consistent text formatting applies to all links */
a {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: normal;
	color: white;
}

/* Removal of underlines making the links visually appealing */
a:link {
	text-decoration: none;
}

/* Opacity changes to allow the links to blend nicely into the background */
a:hover {
	opacity: 0.2;
}

.aboutme {
	position: absolute;
	top: 8%;
	left: 75%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

.projects {
	position: absolute;
	top: 8%;
	left: 85%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

.hobbies {
	position: absolute;
	top: 8%;
	left: 95%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}


/* Styling for social media icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

/* Opacity for social media icons */
.fa:hover {
    opacity: 0.7;
}

/* Linkedin Social Media Icon Class */
.fa-linkedin {
  background: #007bb5;
  color: white;
  position: absolute;
  top: 13%;
  left: 75%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}

/* Github Icon Class */
.fa-github {
  position: absolute;
  top: 13%;
  left: 84.2%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}
