
body {
	background: black;
}

/* No gaps in between text and photos */
body, html {
	height: 100%;
	margin: 0;
}

img {

	/* centers images */
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	border-radius: 0%; 
	
} 

.background {
	position: relative;
	text-align: center;
	color: white;
}

/* Wilson's Profile Picture Class */
.profilepic {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}

/* Wilson's Profile Picture Circle Border */
.profilepic img {
	border-radius: 50%;
}

/* Wilson Chung Name Header Class */
.name {
	position: absolute;
	/*top: 55%;*/
	top: 8%;
	left: 15%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

/* Wilson Chung Name Header Custom Font */
h1 {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: normal;
}

/* Consistent text formatting applies to all links */
a {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: normal;
	color: white;
}

/* Removal of underlines making the links visually appealing */
a:link {
	text-decoration: none;
}

/* Opacity changes for icons and links to blend nicely into the background */
a:hover {
	opacity: 0.2;
}

/* About Me Link Class */
.aboutme {
	position: absolute;
	top: 8%;
	left: 75%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

/* Projects Link Class */
.projects {
	position: absolute;
	top: 8%;
	left: 85%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

/* Hobbies Link Class */
.hobbies {
	position: absolute;
	top: 8%;
	left: 95%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
}

/* Linkedin Social Media Icon Class */
.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 15px;
  font-size: 50px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

  position: absolute;
  top: 13.75%;
  left: 9.45%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}

/* Github Icon Class */
.fa-github {
  position: absolute;
  top: 14%;
  left: 14.95%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}

/* Email Icon Class */
.material-icons {
  position: absolute;
  top: 14%;
  left: 20.45%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  color: #FF4517;
}

h2 {
	margin: 50px 0px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: right;
	font-size: 1em;
}

.aboutme-nav, .projects-nav {
	left: 95%;
}

.aboutme-profilepic {
	position: absolute;
	top: 170%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
}

p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.projects-2017FRCRobot {
	position: absolute;
	top: 260%;
	left: 87%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.projects-tshirtrobot {
	position: absolute;
	top: 300%;
	left: 13%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.projects-2016FRCRobot {
	position: absolute;
	top: 300%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 33.5%;
}

.projects-2015FTCRobot {
	position: absolute;
	top: 300%;
	left: 87%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.hobbies-RegionalRegatta {
	position: absolute;
	top: 360%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.hobbies-CollegeCup {
	position: absolute;
	top: 360%;
	left: 87%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.hobbies-FLLMentoring {
	position: absolute;
	top: 401%;
	left: 13%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.hobbies-GuitarOutreach {
	position: absolute;
	top: 402%;
	left: 87%;
	transform: translate(-50%, -50%);
	width: 26%;
}
